<div class="calendar-container">
  <div class="calendar">
    <div class="day" [routerLink]="'/day1'">1</div>
    <div class="day" [routerLink]="'/day2'">2</div>
    <div class="day" [routerLink]="'/day3'">3</div>
    <div class="day" [routerLink]="'/day4'">4</div>
    <div class="day" [routerLink]="'/day5'">5</div>
    <div class="day" [routerLink]="'/day6'">6</div>
    <div class="day" [routerLink]="'/day7'">7</div>
    <div class="day" [routerLink]="'/day8'">8</div>
    <div class="day" [routerLink]="'/day9'">9</div>
    <div class="day" [routerLink]="'/day10'">10</div>
    <div class="day" [routerLink]="'/day11'">11</div>
    <div class="day" [routerLink]="'/day12'">12</div>
    <div class="day" [routerLink]="'/day13'">13</div>
    <div class="day" [routerLink]="'/day14'">14</div>
    <div class="day" [routerLink]="'/day15'">15</div>
    <div class="day" [routerLink]="'/day16'">16</div>
    <div class="day" [routerLink]="'/day17'">17</div>
    <div class="day" [routerLink]="'/day18'">18</div>
    <div class="day" [routerLink]="'/day19'">19</div>
    <div class="day" [routerLink]="'/day20'">20</div>
    <div class="day" [routerLink]="'/day21'">21</div>
    <div class="day" [routerLink]="'/day22'">22</div>
    <div class="day" [routerLink]="'/day23'">23</div>
    <div class="day" [routerLink]="'/day24'">24</div>
    <div class="day" [routerLink]="'/day25'">25</div>
  </div>
</div>
