<div class="explanation">
  <h3>Day 1, Puzzle 1</h3>
  <p>You're given about 200 numbers, find out which 2 add up to 2020, then multiply those numbers</p>
  <h4>Answer:</h4>
  <span>{{p1num1}} + {{p1num2}} = {{p1num1 + p1num2}}</span>
  <br />
  <span>{{p1num1}} * {{p1num2}} = {{p1num1 * p1num2}}</span>
  <div class="divider"></div>
  <h3>Day 1, Puzzle 2</h3>
  <p>You're given about 200 numbers, find out which 3 add up to 2020, then multiply those numbers</p>
  <h4>Answer:</h4>
  <span>{{p2num1}} + {{p2num2}} + {{p2num3}} = {{p2num1 + p2num2 + p2num3}}</span>
  <br />
  <span>{{p2num1}} * {{p2num2}} * {{p2num3}} = {{p2num1 * p2num2 * p2num3}}</span>
</div>

